[buildout]
extends = http://dist.aclark.net/build/plone/3.3.x/zeo.cfg
parts += productdistros auto-restart
develop = .

[instance]
eggs += 
    Products.CacheSetup
    Products.LinguaPlone
    Products.coopcoffees
products =
    ${productdistros:location}

[productdistros]
recipe = plone.recipe.distros
urls = 
    http://iungo.org/products/MailBoxer/releases/MailBoxer-3.4.0.tar.gz
    http://zwiki.org/zwikidir/releases/ZWiki-0.46.0.tgz
nested-packages =
version-suffix-packages =

[versions]
Products.LinguaPlone = 3.1

[auto-restart]
recipe = z3c.recipe.usercrontab
times = 0 0 * * *
command = ${buildout:directory}/bin/supervisorctl restart all
